config.mk
m5out/
dep/
obj/
pet/pest_test
pet/pet
report/*.abl
report/*.acn
report/*.aux
report/*.bbl
report/*.blg
report/*.fdb_latexmk
report/*.fls
report/*.glo
report/*.ist
report/*.lof
report/*.log
report/*.lot
report/*.out
report/*.pdf
report/*.toc
report/*.acr
report/*.alg
report/*.glg
report/*.gls
report/*.loa
report/*.xdy
report/figs/*-gv.pdf
report/figs/training/*.pdf
report/figs/*-eps-converted-to.pdf
report/figs/ga_genome.pdf
report/figs/static-dynamic.pdf
report/figs/test_setup.tex
workloads/bin
__pycache__
doxy/
