CT_EXPERIMENTAL=y
CT_LOCAL_TARBALLS_DIR="${HOME}/src"
CT_SAVE_TARBALLS=y
# CT_REMOVE_DOCS is not set
CT_LOG_EXTRA=y
CT_ARCH_FLOAT_SW=y
CT_KERNEL_linux=y
CT_BINUTILS_V_2_22=y
CT_BINUTILS_FOR_TARGET=y
# CT_CC_GCC_USE_GRAPHITE is not set
# CT_CC_GCC_USE_LTO is not set
# CT_CC_STATIC_LIBSTDCXX is not set
# CT_CC_GCC_SJLJ_EXCEPTIONS is not set
CT_LIBC_eglibc=y
CT_DEBUG_ltrace=y
CT_DEBUG_duma=y
CT_DEBUG_dmalloc=y
CT_DEBUG_strace=y
CT_STRACE_V_4_5_19=y
CT_COMP_TOOLS=y
CT_COMP_TOOLS_make=y
